@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.profile-container {
    margin-bottom: 50px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 2em;
    margin-bottom: 5px;
}

.profile-bio {
    font-size: 1.2em;
    color: #ccc;
}

.content {
    max-width: 600px;
    text-align: left;
}

.content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.content p {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

